<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<header>
    It's a header
    <nav>
        some navigation will be here
        <div>
            <form th:action="@{/perform_logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <h1>
        Main Content will be here
    </h1>
</main>
<footer>
    ©️ Expert Software Development 2023
</footer>
</body>
</html>